@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html,
    body {
        @apply bg-obsidian text-gray-100 antialiased;
        background-color: theme('colors.obsidian') !important;
    }
}